@page
@model TheEleganceShop.Pages.Products.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Product.ProductName" class="control-label"></label>
                <input asp-for="Product.ProductName" class="form-control" />
                <span asp-validation-for="Product.ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.ProductDescription" class="control-label"></label>
                <input asp-for="Product.ProductDescription" class="form-control" />
                <span asp-validation-for="Product.ProductDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.ProductPrice" class="control-label"></label>
                <input asp-for="Product.ProductPrice" class="form-control" />
                <span asp-validation-for="Product.ProductPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.ProductStockQuantity" class="control-label"></label>
                <input asp-for="Product.ProductStockQuantity" class="form-control" />
                <span asp-validation-for="Product.ProductStockQuantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.ProductCategory" class="control-label"></label>
                <input asp-for="Product.ProductCategory" class="form-control" />
                <span asp-validation-for="Product.ProductCategory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
