@page
@model PrivacyModel
@{
    ViewData["Title"] = "Elegance Privacy!";
}

<style>
    body {
        background-color: purple;
        font-weight: 400;
        text-align: center;
        color: white;
    }

    th, td {
        color: white;
    }
</style>


<h1> Our Privacy / Data Disclosures! </h1>

<p>Welcome! Your privacy matters to us. We're committed to protecting it while making your experience on our site smooth.</p>

<h2>1. Why We Collect Information</h2>

<p>We gather information to make our website the best it can be for you. It helps us:</p>
<ul>
    <li>Understand how you use our site so we can keep improving</li>
    <li>Provide personalized content and recommendations </li>

     <li>Help you troubleshoot and resolve issues efficiently</li>
</ul>

<h2>2. What Information We Collect</h2>
<p>Here' s what we collect, and only as needed:</p>
<ul>
    <li><strong>Basic Information:</strong> Like your name, email, or username when you sign up.</li>

    <li><strong>Usage Data:</strong> How you navigate and interact with our site, such as pages visited, time spent, and items clicked.</li>

    <li><strong>Technical Information:</strong> This includes device type, browser, and your IP address for better site performance and security.</li>
</ul>



<p>We always limit our collection to what’s relevant and safe for improving your experience.</p>

<h2>3 . How We Use Your Information</h2>

<p>Your information helps us bring you a better experience by:</p>
<ul>
    <li>Personalizing content, notifications, and settings to your preferences</li>
    <li>Addressing technical issues if they arise</li>

    <li>Gathering anonymous stats to understand which features you love most</li>
</ul>
