@page
@model TheEleganceShop.Pages.Carts.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Cart</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cart.Customer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cart.Customer.CustomerID)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Cart.CartID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
